<!-- <div class="cc">
</div>
<% DANKCAKES.each do |cake| %>
<img class="allcakes" src="<%= cake.image %>" />
<h1><%= cake.name%></h1>
<p><%= cake.price  %></p>
<p><%= cake.description  %></p>
<p><%= cake.quantity  %></p>
</div>
<% end %> -->


<div class="container">
  <div class="row">

<div class="col-lg-4 productstuff">
  <h2 class="chocomint"><%= @chocolatecake.name %></h2>
  <img class="allcakes" src="<%= @chocolatecake.image %>" />
  <h3 class="cookiePP prypry"><%= @chocolatecake.price  %></h3>
  <p class="cookiePPP"><%= @chocolatecake.description  %></p>
  <!-- <p><%= @chocolatecake.quantity  %></p> -->
</div>

<div class="col-lg-4 productstuff">
  <h2 class="chocomint"><%= @oreo.name %></h2>
  <img class="allcakes" src="<%= @oreo.image %>" />
  <h3 class="cookiePP prypry"><%= @oreo.price  %></h3>
  <p class="cookiePPP"><%= @oreo.description  %></p>
  <!-- <p><%= @oreo.quantity  %></p> -->
</div>

<div class="col-lg-4 productstuff">
  <h2 class="chocomint"><%= @redvelvet.name %></h2>
  <img class="allcakes" src="<%= @redvelvet.image %>" />
  <h3 class="cookiePP prypry"><%= @redvelvet.price  %></h3>
  <p class="cookiePPP"><%= @redvelvet.description  %></p>
  <!-- <p><%= @redvelvet.quantity  %></p> -->
</div>

</div>
</div>
