<!--

<div class="container">
  <div class="row">
    <div class="col-lg-4">
<% DANKCOOKIES.each do |cookie| %>
<img class="allcookies" src="<%= cookie.image %>" />
<h1><%= cookie.name%></h1>
<p><%= cookie.price  %></p>
<p><%= cookie.description  %></p>
<p><%= cookie.quantity  %></p>
</div>

   </div>
</div>
<% end %> -->


<div class="container">
  <div class="row">

<div class="col-lg-4 productstuff">
  <h2 class="chocomint"><%= @chocolatechip.name%></h2>
  <img class="allcookies" src="<%= @chocolatechip.image %>" />
  <h3 class="cookiePP prypry"><%= @chocolatechip.price  %></h3>
  <p class="cookiePPP"><%= @chocolatechip.description  %></p>
</div>

<div class="col-lg-4 productstuff">
  <h2 class="chocomint"><%= @chocolatemint.name%></h2>
  <img class="allcookies" src="<%= @chocolatemint.image %>" />
  <h3 class="cookiePP prypry"><%= @chocolatemint.price  %></h3>
  <p class="cookiePPP"><%= @chocolatemint.description  %></p>
</div>

<div class="col-lg-4 productstuff">
  <h2 class="chocomint"><%= @chriskushcookie.name%></h2>
  <img class="allcookies" src="<%= @chriskushcookie.image %>" />
  <h3 class="cookiePP prypry"><%= @chriskushcookie.price  %></h3>
  <p class="cookiePPP"><%= @chriskushcookie.description  %></p>
</div>

</div>
<br />


<div class="row">
<div class="col-lg-4 productstuff">
  <h2 class="chocomint"><%= @oatmealcran.name%></h2>
  <img class="allcookies" src="<%= @oatmealcran.image %>" />
  <h3 class="cookiePP prypry"><%= @oatmealcran.price  %></h3>
  <p class="cookiePPP"><%= @oatmealcran.description  %></p>
</div>
<div class="col-lg-4 productstuff">
  <h2 class="chocomint"><%= @gingerbread.name%></h2>
  <img class="allcookies" src="<%= @gingerbread.image %>" />
  <h3 class="cookiePP prypry"><%= @gingerbread.price  %></h3>
  <p class="cookiePPP"><%= @gingerbread.description  %></p>
</div>

<div class="col-lg-4 productstuff">
  <h2 class="chocomint"><%= @sugarcookie.name%></h2>
  <img class="allcookies" src="<%= @sugarcookie.image %>" />
  <h3 class="cookiePP prypry"><%= @sugarcookie.price  %></h3>
  <p class="cookiePPP"><%= @sugarcookie.description  %></p>
</div>
</div>
</div>
