<div class="cc">
<img class="allcookies" src="<%= @chocolatechip.image %>"> </img>
<h1><%= @chocolatechip.name  %></h1>
<p><%= @chocolatechip.price  %></p>
<p><%= @chocolatechip.description  %></p>
<p><%= @chocolatechip.quantity  %></p>
</div>

<div class="cc">
<img class="allcookies" src="<%= @chocolatemint.image %>"> </img>
<h1><%= @chocolatemint.name  %></h1>
<p><%= @chocolatemint.price  %></p>
<p><%= @chocolatemint.description  %></p>
<p><%= @chocolatemint.quantity  %></p>
</div>

<div class="cc">
<img class="allcookies" src="<%= @oatmealcran.image %>"> </img>
<h1><%= @oatmealcran.name  %></h1>
<p><%= @oatmealcran.price  %></p>
<p><%= @oatmealcran.description  %></p>
<p><%= @oatmealcran.quantity  %></p>
</div>

<div class="cc">
<img class="allcookies" src="<%= @chriskushcookie.image %>"> </img>
<h1><%= @chriskushcookie.name  %></h1>
<p><%= @chriskushcookie.price  %></p>
<p><%= @chriskushcookie.description  %></p>
<p><%= @chriskushcookie.quantity  %></p>
</div>

<div class="cc">
<img class="allcookies" src="<%= @gingerbread.image %>"> </img>
<h1><%= @gingerbread.name  %></h1>
<p><%= @gingerbread.price  %></p>
<p><%= @gingerbread.description  %></p>
<p><%= @gingerbread.quantity  %></p>
</div>

<div class="cc">
<img class="allcookies" src="<%= @sugarcookie.image %>"> </img>
<h1><%= @sugarcookie.name  %></h1>
<p><%= @sugarcookie.price  %></p>
<p><%= @sugarcookie.description  %></p>
<p><%= @sugarcookie.quantity  %></p>
</div>
