<!-- <div class="cc">
</div>
<% DANKMUFFINS.each do |muffin| %>
<img class="allmuffins" src="<%= muffin.image %>" />
<h1><%= muffin.name%></h1>
<p><%= muffin.price  %></p>
<p><%= muffin.description  %></p>
<p><%= muffin.quantity  %></p>
</div>
<% end %> -->


<div class="container">
  <div class="row">

<div class="col-lg-4">
  <img class="allmuffins" src="<%= @banananut.image %>" />
  <h2><%= @banananut.name%></h2>
  <h3><%= @banananut.price  %></h3>
  <p><%= @banananut.description  %></p>
  <p><%= @banananut.quantity  %></p>
</div>

<div class="col-lg-4">
  <img class="allmuffins" src="<%= @blueberry.image %>" />
  <h2><%= @blueberry.name%></h2>
  <h3><%= @blueberry.price  %></h3>
  <p><%= @blueberry.description  %></p>
  <p><%= @blueberry.quantity  %></p>
</div>

<div class="col-lg-4">
  <img class="allmuffins" src="<%= @pistachio.image %>" />
  <h2><%= @pistachio.name%></h2>
  <h3><%= @pistachio.price  %></h3>
  <p><%= @pistachio.description  %></p>
  <p><%= @pistachio.quantity  %></p>
</div>

</div>
</div>
