<!-- <div class="cc">
</div>
<% DANKMUFFINS.each do |muffin| %>
<img class="allmuffins" src="<%= muffin.image %>" />
<h1><%= muffin.name%></h1>
<p><%= muffin.price  %></p>
<p><%= muffin.description  %></p>
<p><%= muffin.quantity  %></p>
</div>
<% end %> -->


<div class="container">
  <div class="row">

<div class="col-lg-4 productstuff">
  <h2 class="chocomint"><%= @banananut.name%></h2>
  <img class="allmuffins" src="<%= @banananut.image %>" />
  <h3 class="cookiePP prypry"><%= @banananut.price  %></h3>
  <p class="cookiePPP"><%= @banananut.description  %></p>
  <!-- <p><%= @banananut.quantity  %></p> -->
</div>

<div class="col-lg-4 productstuff">
  <h2 class="chocomint"><%= @blueberry.name%></h2>
  <img class="allmuffins" src="<%= @blueberry.image %>" />
  <h3 class="cookiePP prypry"><%= @blueberry.price  %></h3>
  <p class="cookiePPP"><%= @blueberry.description  %></p>
  <!-- <p><%= @blueberry.quantity  %></p> -->
</div>

<div class="col-lg-4 productstuff">
  <h2 class="chocomint"><%= @pistachio.name%></h2>
  <img class="allmuffins" src="<%= @pistachio.image %>" />
  <h3 class="cookiePP prypry"><%= @pistachio.price  %></h3>
  <p class="cookiePPP"><%= @pistachio.description  %></p>
  <!-- <p><%= @pistachio.quantity  %></p> -->
</div>

</div>
</div>
